*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
  background-color: #fff;
}




/* nav{
    background-color: #000;
    margin-bottom: 2px;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
} */

nav ul {
    list-style-type: none;
    padding: 0;
  }

  nav ul li {
    display: inline;
    margin-right: 10px;
  }

  nav a {
    text-decoration: none;
    color: #ffffff;
    font-weight: bold;
  }

  nav h1 {
    color: #fff;
  }

  body {
    font-family: Arial, sans-serif;
    /* margin: 20px; */
  }

  .container{
    text-align: center;
  }

  

  

  ul{
    list-style-type: none;
  }

#social-media{
  position: absolute;
  z-index: 2;
  top: 50%;
  left: 5px;
}

#social-media ul{
  padding: 0;
}

.footer{
  background-color: #1b2530;
  color: #fff;
}

#weather{
  position: absolute;
  z-index: 2;
  left: 25px;
}
/* New set */