*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav{
    background-color: #1b2530;
    margin-bottom: 2px;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav ul {
    list-style-type: none;
    /* padding: 0; */
  }

  nav ul li {
    display: inline;
    margin-right: 10px;
  }

  nav a {
    text-decoration: none;
    color: #ffffff;
    font-weight: bold;
  }

  nav h1 {
    color: #fff;
  }

  body {
    font-family: Arial, sans-serif;
    /* margin: 20px; */
  }

  .container{
    text-align: center;
  }

  #btnSearch{
    padding: 7px 15px;
    border-radius: 20px;
    color: #fff;
    background-color: #dcbb87;
    box-shadow: none;
  }

  #searchInput{
      padding: 8px;
      border-radius: 20px
  }
  #btnClear{
    padding: 7px 15px;
    border-radius: 20px;
    color: #fff;
    background-color: #dcbb87;
    box-shadow: none;
  }

  .home-banner{
    background-image: url('./Images/Homepage.jpg');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center;
    height: 560px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;

  }

  .home-banner::before{
    content: "";
    background-color: #00000038;
    position: absolute;
    z-index: 0;
    width: 100%;
    height: 100%;

  }

  .header-text{
    padding: 0;
    width: 45%;
    margin: auto;
    text-align: center;
    position: relative;
    bottom: -70px;
  }
  .page-title{
    margin-left: 50px;
    color:aliceblue;
  }

  .results{
    position: absolute;
    top: 80px;
    right: 50px;
    background: #fff;
    padding: 25px;
    width: 30%;
    border-radius: 10px;
    
  }
  .results h1{
    font-size: 22px;
    color: #0055db;
  }

  ul{
    list-style-type: none;
  }